<div class="xheadwrap">
  <div class="xmenuwrap">
    <div class="container">
      <div class="xmenutop clearfix">
        <a href="/"><img class="xlogo" src="img/logo.png" alt="" width="119" /></a>
        <div class="xmenu">
          <div>
            <div class="xmenuitem"><a href="search" class="xmenulink">PHIM MỚI X</a></div>
            <div class="xmenuitem"><a href="search" class="xmenulink">THỂ LOẠI</a></div>
            <div class="xmenuitem"><a href="search" class="xmenulink">QUỐC GIA</a></div>
            <div class="xmenuitem"><a href="search?type=movie" class="xmenulink">PHIM LẺ</a></div>
            <div class="xmenuitem"><a href="search?type=drama" class="xmenulink">PHIM BỘ</a></div>
            <div class="xmenuitem"><a href="search?type=dub" class="xmenulink">THUYẾT MINH</a></div>
            <div class="xmenuitem"><a href="search?type=cinema" class="xmenulink">CHIẾU RẠP</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>