<div class="xbodyright">
  <div class="xrwidgettext">Phim đã đánh dấu</div>
  <div class="xrwidgetbody">
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Bê Bối Tình Dục Thể Dục Dụng Cụ Mỹ
      Athlete A
      <div class="xrwduration">103 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Sống hai đời, yêu một lần
      Live Twice, Love Once
      <div class="xrwduration">101 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Máy Quay Cảnh Sát
      Body Cam
      <div class="xrwduration">96 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Cuộc Thi Ca Khúc Truyền Hình Eurovision: Câu Chuyện Về Fire Saga
      Eurovision Song Contest: The Story of Fire Saga
      <div class="xrwduration">123 phút</div>
    </div>
  </div>
  <div class="xrwidgettext">Phim lẽ HOT trong tuần</div>
  <div class="xrwidgetbody">
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Quá Khứ Tang Thương
      Bulbbul
      <div class="xrwduration">94 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Trương Tam Phong 2 Thái Cực Thiên Sư
      Tai Chi Hero
      <div class="xrwduration">96 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Kỳ Môn Dị Thuật
      The Disaster of Centipede
      <div class="xrwduration">71 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Khi Chàng Gặp Nàng
      Boy Meets Girl
      <div class="xrwduration">95 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Vòng Tròn Tội Lỗi
      Circle of Atonement / Secret
      <div class="xrwduration">102 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Nốt Cao
      The High Note
      <div class="xrwduration">113 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Phong Ma Thần Cái Tô Khất Nhi
      Crazy Beggar SuQiEr
      <div class="xrwduration">N/A</div>
    </div>
  </div>
  <div class="xrwidgettext">Phim bộ HOT trong tuần</div>
  <div class="xrwidgetbody">
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Quá Khứ Tang Thương
      Bulbbul
      <div class="xrwduration">94 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Trương Tam Phong 2 Thái Cực Thiên Sư
      Tai Chi Hero
      <div class="xrwduration">96 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Kỳ Môn Dị Thuật
      The Disaster of Centipede
      <div class="xrwduration">71 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Khi Chàng Gặp Nàng
      Boy Meets Girl
      <div class="xrwduration">95 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Vòng Tròn Tội Lỗi
      Circle of Atonement / Secret
      <div class="xrwduration">102 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Nốt Cao
      The High Note
      <div class="xrwduration">113 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Phong Ma Thần Cái Tô Khất Nhi
      Crazy Beggar SuQiEr
      <div class="xrwduration">N/A</div>
    </div>
  </div>
  <div class="xrwidgettext">Từ khoá HOT trong tuần</div>
  <div class="xrwidgetbody">
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Quá Khứ Tang Thương
      Bulbbul
      <div class="xrwduration">94 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Trương Tam Phong 2 Thái Cực Thiên Sư
      Tai Chi Hero
      <div class="xrwduration">96 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Kỳ Môn Dị Thuật
      The Disaster of Centipede
      <div class="xrwduration">71 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Khi Chàng Gặp Nàng
      Boy Meets Girl
      <div class="xrwduration">95 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Vòng Tròn Tội Lỗi
      Circle of Atonement / Secret
      <div class="xrwduration">102 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Nốt Cao
      The High Note
      <div class="xrwduration">113 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Phong Ma Thần Cái Tô Khất Nhi
      Crazy Beggar SuQiEr
      <div class="xrwduration">N/A</div>
    </div>
  </div>
  <div class="xrwidgettext">Diễn viên HOT trong tuần</div>
  <div class="xrwidgetbody">
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Quá Khứ Tang Thương
      Bulbbul
      <div class="xrwduration">94 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Trương Tam Phong 2 Thái Cực Thiên Sư
      Tai Chi Hero
      <div class="xrwduration">96 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Kỳ Môn Dị Thuật
      The Disaster of Centipede
      <div class="xrwduration">71 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Khi Chàng Gặp Nàng
      Boy Meets Girl
      <div class="xrwduration">95 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Vòng Tròn Tội Lỗi
      Circle of Atonement / Secret
      <div class="xrwduration">102 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Nốt Cao
      The High Note
      <div class="xrwduration">113 phút</div>
    </div>
    <div class="xrwidgetitem">
      <div class="xrwimg"></div>
      Phong Ma Thần Cái Tô Khất Nhi
      Crazy Beggar SuQiEr
      <div class="xrwduration">N/A</div>
    </div>
  </div>
</div>