<div class="xfooter">
  <div class="container">
  </div>
  <div class="container">
    <img class="xlogo xlogo-footer" src="img/logo.png" alt="" width="100">
    <div class="xwidgets">
      <div class="xwidcol">
        <div class="xwidtitle">Phim Mới X</div>
        <div>Phim lẻ mới</div>
        <div>Phim bộ mới</div>
        <div>Phim chiếu rạp</div>
        <div>Phim kinh điển</div>
        <div>Phim sắp chiếu</div>
      </div>
      <div class="xwidcol">
        <div class="xwidtitle">Phim Lẻ</div>
        <div>Phim hành động</div>
        <div>Phim kiếm hiệp</div>
        <div>Phim kinh dị</div>
        <div>Phim viễn tưởng</div>
        <div>Phim hoạt hình</div>
      </div>
      <div class="xwidcol">
        <div class="xwidtitle">Phim Bộ</div>
        <div>Phim bộ Hàn Quốc</div>
        <div>Phim bộ Trung Quốc</div>
        <div>Phim bộ Mỹ</div>
        <div>Phim bộ Việt Nam</div>
        <div>Phim bộ Hồng Kông</div>
      </div>
      <div class="xwidcol">
        <div>IP của bạn:</div>
        <div>115.79.44.187</div>
        <div>Thông tin liên hệ:</div>
        <div>Email: contact@xphim.net</div>
      </div>
    </div>
  </div>
</div>
<div class="xfooterbot">
  <div class="container">
    <p>Xem phim mới miễn phí nhanh chất lượng cao. Xem Phim online Việt Sub, Thuyết minh, lồng tiếng chất lượng HD. Xem phim nhanh online chất lượng cao</p>
  </div>
</div>