<head>
  <title>Phim Mới | Phim hay | Xem phim nhanh | Xem phim online | Phim HD vietsub hay nhất</title>
  <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <base href="/">
  <meta name="description" content="Xem phim mới miễn phí nhanh chất lượng cao. Xem Phim online Việt Sub, Thuyết minh, lồng tiếng chất lượng HD. Xem phim nhanh online chất lượng cao"><meta property="fb:pages" content="209494239231892"><meta property="fb:app_id" content="1390295464546181"><meta property="og:title" content="Phim Mới | Phim hay | Xem phim nhanh | Xem phim online | Phim HD vietsub hay nhất">
  <meta property="og:description" content="Xem phim mới miễn phí nhanh chất lượng cao. Xem Phim online Việt Sub, Thuyết minh, lồng tiếng chất lượng HD. Xem phim nhanh online chất lượng cao">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="zphim.com">
  <meta property="og:url" content="http://www.zphim.com/">
  <meta property="fb:admins" content="308759660522496">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11186/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11151/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11112/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11159/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11120/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11082/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11122/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/10909/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11177/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11141/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11174/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/10979/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11108/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11066/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11158/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11157/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11010/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/10870/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/11155/poster.medium.jpg">
  <meta property="og:image" content="http://image.phimmoiz.com/film/9851/poster.medium.jpg">
  <meta property="og:image" content="http://www.phimmoiz.com/logo/phimmoi-square.png">
  <meta property="fb:pages" content="934215646727543">
  
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="./core.css" />
  <link rel="stylesheet" href="./skin.css" />
  <link rel="stylesheet" href="./home.css" />
  <link rel="stylesheet" href="./search.css" />
  <link rel="stylesheet" href="./detail.css" />
  <link rel="stylesheet" href="./resp.css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600">
  <!-- link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous" -->
</head>